.container-six{
    display: flex;
    flex-direction: column;}
    .container-six-header{
    display: flex;
    justify-content: center;
    padding: 2%;}
    .container-six-image-box{
    display: flex;
    justify-content: space-evenly;}
    .container-six-img1{
    width: 200px;}
    .container-six-img2{
    width: 230px;}
    .container-six-img3{
    width: 200px;}
    